@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Manrope', sans-serif;
}

.main-nav{
	width: 100%;
	height: 7vh;
	/* border: 1px solid #000; */
	display: flex;
	flex-direction: row;
	background: linear-gradient(180deg, #4D77FF 0%, #0009DD 100%);
}

.left-side{
	width: 50%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.right-side{
	width: 50%;
}

.emblem-logo{
	width: 3.8%;
}

.divider{
	font-size: 35px;
}

.emblem-text-a{
	width: 100%;
	gap: 1%;
	display: flex;
	flex-direction: row;
	align-items: center;
	text-decoration: none;
	color: white;
	pointer-events: none
}

.sub-left-side{
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 2%;
	align-items: center;
	margin-left: 2vw;
}

.sub-right-side{
	width: 55%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	float: right;
	gap: 4%;
	margin-right: 2vw;
	align-items: center;
	margin-left: 2vw;
}

.top-nav-right{
	width: 100%;
	display: flex;
	flex-direction: row;
	margin-top: auto;
	margin-bottom: auto;
	align-items: center;
	font-size: 12px;
	border-right: 1px solid white;
	gap: 10px;
}

.nav-list{
	display: flex;
	align-items: center;
	color: white;
}

.english-marathi-text-right{
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.english-marathi-text-left{
	width: 36%;
	float: right;
	text-align: center;
	display: flex;
	flex-direction: column;

}

p{
	margin: 0;
	padding: 0;
}

.right-side-text{
	float: left;
}

.left-side-text{
	float: right;
}

.flag{
	width: 5%;
}

@media(max-width: 986px){
	.main-nav{
		width: 100%;
		height: 100%;
		border: 1px solid #000;
		display: flex;
		flex-direction: column;
	}

	.left-side{
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.right-side{
		width: 100%;
	}

	p{
		margin: 0;
		padding: 0;
	}

	.sub-left-side{
		display: flex;
		flex-direction: column;
		gap: 2%;
		align-items: center;
		margin-left: 0;
	}

	.nav-list{
		display: none;
	}

	.top-nav-right{
		width: 15%;
	}

	.emblem-text-a{
		display: flex;
		flex-direction: column;
		align-items: center;
		text-decoration: none;
	}

	.divider{
		display: none;
	}

	.english-marathi-text-left,.english-marathi-text-right{
		text-align: center;
	}

	.text-align{
		display: flex;
		justify-content: center;
	}
}